<template>
    <!--Last Projects Container-->
    <div class="container mx-auto bg-white rounded-md shadow-md">
      <h1 class="text-4xl text-center text-green-900 mt-10 mb-10">Last Projects</h1>
        <!--Project Card-->
      <div v-for="project in projects" :key="project.id" :project="project" class="bg-gray-100 h-20 m-5 text-green-900 rounded-lg shadow-md grid grid-cols-3 sm:grid-cols-4 text-center hover:bg-yellow-200 transition duration-300">
        <p class="mt-8 text-xs md:text-base md:mt-7 hover:text-yellow-900 transition duration-150 ease-in-out underline"><a :href="'https://adacraft.org/project/' + project.ref.value.id" target="_blank">{{ project.data.name }}</a></p>
        <p class="mt-7 cursor-default">{{ new Date(project.ts/1000).toLocaleDateString("fr-FR") }}</p>
        <p v-if="project.data.userName" class="mt-8 text-xs md:text-base md:mt-7 hover:text-yellow-900 transition duration-150 ease-in-out underline"><a :href="'https://adacraft.org/user/' + project.data.userId" target="_blank">{{ project.data.userName }}</a></p>
        <p v-else class="mt-8 text-xs md:text-base md:mt-7 hover:text-yellow-900 transition duration-150 ease-in-out underline"><a :href="'https://adacraft.org/user/' + project.data.userId" target="_blank"><em>Undefined</em></a></p>
        <p class="mt-8 cursor-default text-sm overflow-hidden lg:overflow-visible">{{ project.data.userId }}</p>
      </div>
    </div>
</template>

<script>
import { faunasecret } from '../config.js'

export default {
  name: "LastProjects",
  data: function(){
    return{
      name:"LastProjects",
      projects: []
    }
  },
  mounted(){
    var faunadb = require('faunadb')
    const client = new faunadb.Client({
      secret: faunasecret
})
    const q = faunadb.query
    client
        .query(
          q.Map(
            q.Paginate(
              q.Match(
                q.Index('all_projects'),
                    ), { size: 20, before:null}
                ),
                ref => q.Get(ref) 
            )
        )
        .then(response => {
              // Stocke les données récupérées dans le tableau vide projects/users
              this.projects = (response.data).sort((a, b)=> b.ts - a.ts);
              })
        .catch(error => error)
  }
}
</script>